{{ import layout.html }}
<div class="h-full flex flex-col gap-4 justify-center items-center">
  <h1>Aisle {{ aisle }}</h1>
  <h2>{{ name }}</h2>
  <div class="flex justify-center items-center">
    <a href="{{ prevHref }}" class="nav-button">Prev</a>
    <img width="400" height="400" src="{{ imgSrc }}" alt="{{ name }}" />
    <p>Quantity: {{ quantity }}</p>
    <a href="{{ nextHref }}" class="nav-button">Next</a>
  </div>
  <form method="POST" action="/list/{{listId}}/{{id}}/delete">
    <button type="submit">Got it!</button>
  </form>
</div>
{{ /layout.html }}
